.col-no {
    width: 15%;
}

.col-kategori {
    width: 70%;
}

.col-aksi {
    width: 15%;
}

.bg-custome {
    background-color: #597E52 !important;
}

.text-custome {
    color: #C6A969 !important;
}